QWidget{
    background-color: #2A2929;
}

QMainWindow QLineEdit, QComboBox, QSpinBox{
    background-color: #5c5b5b;
}
#title_bar QPushButton{
    height: 30px;
    width: 30px;
    background-color: red;
}
#main_tabs QPushButton{
    border: 0px;
    text-align: left;
    padding: 20px;
}
#main_tabs QPushButton:hover{
    background-color: #161616;
}

#login_btn{
    background-color: #181717;
    color: silver;
}

#login_btn:hover{
    background-color: silver;
    color: #181717;
}

#password_le, #username_le{
    color: silver;
    border: 0px;
    border-bottom: 3px solid silver;
}
